FIREBASE_API_KEY=AIzaSyBBMPWqWc8lme4iTY1RSTxFcQUxIZ3Qztk
FIREBASE_AUTH_DOMAIN=wedoapp-d11d0.firebaseapp.com
FIREBASE_PROJECT_ID=wedoapp-d11d0
FIREBASE_STORAGE_BUCKET=wedoapp-d11d0.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=182565192719
FIREBASE_APP_ID=1:182565192719:web:ffe9dbbe29c64be63acf7a
